div .scrollmenu {
    overflow: auto;
    white-space: nowrap;
  }
  
.card {
    display: inline-block;
    margin: 14px;
    text-decoration: none;
  }

.banner {
    padding: 0% 5% 0% 5%;
}

h1 {
    padding: 1%;
    margin: 1%;
    text-align: center;
    border: 1px solid black;
    border-radius: 25px;
    border-color: white;
}

.navbar {
    text-decoration: none;
    padding: 1% 5.5% 1% 5.5%;
}

.body {
  background-color: slategray;
}

.infocardbody{
  margin: 0% 5% 0% 5%;
}